body {
  background: url('https://wallpaperscraft.com/image/coca-cola_drink_soda_background_brand_logo_69228_3840x2400.jpg');
  background-size: cover;
}
h1{
	color: white;
}
p{
	color: white;
}
div{
	color: white;
}
img{
	margin-left: 42%;
}